<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo3"
        android:label="Home Service"
        android:supportsRtl="true"
        android:theme="@style/Theme.Api"
        tools:targetApi="31">
        <activity
            android:name=".Dialog"
            android:exported="false" />
        <activity
            android:name=".Shoe"
            android:exported="false" />
        <activity
            android:name=".Carpenter"
            android:exported="false" />
        <activity
            android:name=".Painter"
            android:exported="false" />
        <activity
            android:name=".Locksmith"
            android:exported="false" />
        <activity
            android:name=".Shoe"
            android:exported="false"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Tailor"
            android:exported="false" />
        <activity
            android:name=".Account"
            android:exported="false" />
        <activity
            android:name=".Setting"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Plumber"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>